In [44]:
#importar librerias

import numpy as np
import pandas as pd
import datetime
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from yellowbrick.cluster import KElbowVisualizer
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt, numpy as np
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import AgglomerativeClustering
from matplotlib.colors import ListedColormap
from sklearn import metrics
import warnings
import sys
if not sys.warnoptions:
    warnings.simplefilter("ignore")
np.random.seed(42)

In [58]:
#Load dataset
data = pd.read_csv("/Users/jazzkim/Documents/customer_seg/marketing2.csv", sep=";")
data.head()

  ID;A単o de nacimiento ;Educacion;Estado civil ;Ingresos;Hijos;Hijos adolescentes;Dt_Customer;Frecuencia_de_compra_de_los_clientes;Cantidad_de_gastos_en_vinos;Cantidad_de_gastos_en_frutas;Cantidad_de_gastos_en_carne;Cantidad_de_gastos_en_pescado;Cantidad_de_gastos_en_dulces;Cantidad_de_gastos_en_productos_premium;Cantidad_de_compras_ofertas;Cantidad_de_compras_web;Cantidad_de_compras_catalogo;Cantidad_de_compras_local;Cantidad_visitas_pagina_web;AcceptedCmp3;AcceptedCmp4;AcceptedCmp5;AcceptedCmp1;AcceptedCmp2;Complain;Z_CostContact;Z_Revenue;Response
0  5524;1957;Doctorado;Single;58138;0;0;04-09-201...
1  2174;1954;Graduation;Single;46344;1;1;08-03-20...
2  4141;1965;Graduation;Together;71613;0;0;21-08-...
3  6182;1984;Graduation;Together;26646;1;0;10-02-...
4  5324;1981;Doctorado;Married;58293;1;0;19-01-20...

In [46]:
#see columns
print(data.columns)

Index(['ID', 'A単o de nacimiento ', 'Educacion', 'Estado civil ', 'Ingresos',
       'Hijos', 'Hijos adolescentes', 'Dt_Customer',
       'Frecuencia_de_compra_de_los_clientes', 'Cantidad_de_gastos_en_vinos',
       'Cantidad_de_gastos_en_frutas', 'Cantidad_de_gastos_en_carne',
       'Cantidad_de_gastos_en_pescado', 'Cantidad_de_gastos_en_dulces',
       'Cantidad_de_gastos_en_productos_premium',
       'Cantidad_de_compras_ofertas', 'Cantidad_de_compras_web',
       'Cantidad_de_compras_catalogo', 'Cantidad_de_compras_local',
       'Cantidad_visitas_pagina_web', 'AcceptedCmp3', 'AcceptedCmp4',
       'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain',
       'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [60]:
#delete null values
data = data.dropna()
print("The total number of data-points after removing the rows with missing values are:", len(data))

The total number of data-points after removing the rows with missing values are: 2240

In [51]:
data['Dt_Customer'] = pd.to_datetime(data['Dt_Customer'], format='%d-%m-%Y')
print(data.head())

     ID  A単o de nacimiento       Educacion Estado civil   Ingresos  Hijos  \
0  5524                1957      Doctorado       Soltero   58138.0      0
1  2174                1954  Universitario       Soltero   46344.0      1
2  4141                1965  Universitario     En pareja   71613.0      0
3  6182                1984  Universitario     En pareja   26646.0      1
4  5324                1981      Doctorado        Casado   58293.0      1

   Hijos adolescentes Dt_Customer  Frecuencia_de_compra_de_los_clientes  \
0                   0  2012-09-04                                    58
1                   1  2014-03-08                                    38
2                   0  2013-08-21                                    26
3                   0  2014-02-10                                    26
4                   0  2014-01-19                                    94

   Cantidad_de_gastos_en_vinos  ...  Cantidad_visitas_pagina_web  \
0                          635  ...                            7
1                           11  ...                            5
2                          426  ...                            4
3                           11  ...                            6
4                          173  ...                            5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Z_CostContact  Z_Revenue  Response
0         0              3         11         1
1         0              3         11         0
2         0              3         11         0
3         0              3         11         0
4         0              3         11         0

[5 rows x 29 columns]

In [61]:
# Leer el archivo CSV con el formato de fecha correcto
data = pd.read_csv('/Users/jazzname/Documents/customer_seg/marketing2.csv', sep=';', parse_dates=['Dt_Customer'], dayfirst=True)

# Ahora puedes trabajar con tu DataFrame
print(data.head())

     ID  A単o de nacimiento    Educacion Estado civil   Ingresos  Hijos_bebes  \
0  5524                1957   Doctorado        Single   58138.0            0
1  2174                1954  Graduation        Single   46344.0            1
2  4141                1965  Graduation      Together   71613.0            0
3  6182                1984  Graduation      Together   26646.0            1
4  5324                1981   Doctorado       Married   58293.0            1

   Hijos adolescentes Dt_Customer  Frecuencia_de_compra_de_los_clientes  \
0                   0  2012-09-04                                    58
1                   1  2014-03-08                                    38
2                   0  2013-08-21                                    26
3                   0  2014-02-10                                    26
4                   0  2014-01-19                                    94

   Cantidad_de_gastos_en_vinos  ...  Cantidad_visitas_pagina_web  \
0                          635  ...                            7
1                           11  ...                            5
2                          426  ...                            4
3                           11  ...                            6
4                          173  ...                            5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Z_CostContact  Z_Revenue  Response
0         0              3         11         1
1         0              3         11         0
2         0              3         11         0
3         0              3         11         0
4         0              3         11         0

[5 rows x 29 columns]

In [62]:
#Created a feature "Customer_For". 
days = []
d1 = max(dates) #taking it to be the newest customer
for i in dates:
    delta = d1 - i
    days.append(delta)
data["Customer_For"] = days
data["Customer_For"] = pd.to_numeric(data["Customer_For"], errors="coerce")

ValueError: Length of values (2216) does not match length of index (2240)

In [56]:
#explore the unique values in the categorical features to get a clear idea of the data.
print("Total categories in the feature Marital_Status:\n", data["Estado Civil"].value_counts(), "\n")
print("Total categories in the feature Education:\n", data["Education"].value_counts())

Cantidad de categorias en feature Estado Civil:
 Estado civil
Casado             857
En pareja          573
Soltero            471
Divorciado         232
Viudo               76
No es necesario      4
Solo                 3
Name: count, dtype: int64

Cantidad de categorias en feature Educacion:
 Educacion
Universitario    1115
Doctorado         482
Master            365
Secundario        200
Primario           54
Name: count, dtype: int64

In [57]:
#Feature Engineering
#Age of customer today 
data["Age"] = 2021-data["Year_Birth"]

#Total spendings on various items
data["Spent"] = data["MntWines"]+ data["MntFruits"]+ data["MntMeatProducts"]+ data["MntFishProducts"]+ data["MntSweetProducts"]+ data["MntGoldProds"]

#Deriving living situation by marital status"Alone"
data["Living_With"]=data["Marital_Status"].replace({"Married":"Partner", "Together":"Partner", "Absurd":"Alone", "Widow":"Alone", "YOLO":"Alone", "Divorced":"Alone", "Single":"Alone",})

#Feature indicating total children living in the household
data["Children"]=data["Kidhome"]+data["Teenhome"]

#Feature for total members in the householde
data["Family_Size"] = data["Living_With"].replace({"Alone": 1, "Partner":2})+ data["Children"]

#Feature pertaining parenthood
data["Is_Parent"] = np.where(data.Children> 0, 1, 0)

#Segmenting education levels in three groups
data["Education"]=data["Education"].replace({"Basic":"Undergraduate","2n Cycle":"Undergraduate", "Graduation":"Graduate", "Master":"Postgraduate", "PhD":"Postgraduate"})

#For clarity
data=data.rename(columns={"MntWines": "Wines","MntFruits":"Fruits","MntMeatProducts":"Meat","MntFishProducts":"Fish","MntSweetProducts":"Sweets","MntGoldProds":"Gold"})

TypeError: can only concatenate str (not "int") to str

In [ ]:
data.describe()

In [ ]:
#To plot some selected features 
#Setting up colors prefrences
sns.set(rc={"axes.facecolor":"#FFF9ED","figure.facecolor":"#FFF9ED"})
pallet = ["#682F2F", "#9E726F", "#D6B2B1", "#B9C0C9", "#9F8A78", "#F3AB60"]
cmap = colors.ListedColormap(["#682F2F", "#9E726F", "#D6B2B1", "#B9C0C9", "#9F8A78", "#F3AB60"])
#Plotting following features
To_Plot = [ "Income", "Recency", "Customer_For", "Age", "Spent", "Is_Parent"]
print("Reletive Plot Of Some Selected Features: A Data Subset")
plt.figure()
sns.pairplot(data[To_Plot], hue= "Is_Parent",palette= (["#682F2F","#F3AB60"]))
#Taking hue 
plt.show()

In [ ]:
#Dropping the outliers by setting a cap on Age and income. 
data = data[(data["Age"]<90)]
data = data[(data["Income"]<600000)]
print("The total number of data-points after removing the outliers are:", len(data))

In [ ]:
#correlation matrix
corrmat= data.corr()
plt.figure(figsize=(20,20))  
sns.heatmap(corrmat,annot=True, cmap=cmap, center=0)

DATA PREPROCESSING

In [ ]:
#Get list of categorical variables
s = (data.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables in the dataset:", object_cols)

In [ ]:
#Label Encoding the object dtypes.
LE=LabelEncoder()
for i in object_cols:
    data[i]=data[[i]].apply(LE.fit_transform)
    
print("All features are now numerical")

In [ ]:
#Creating a copy of data
ds = data.copy()
# creating a subset of dataframe by dropping the features on deals accepted and promotions
cols_del = ['AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1','AcceptedCmp2', 'Complain', 'Response']
ds = ds.drop(cols_del, axis=1)
#Scaling
scaler = StandardScaler()
scaler.fit(ds)
scaled_ds = pd.DataFrame(scaler.transform(ds),columns= ds.columns )
print("All features are now scaled")

In [ ]:
#Scaled data to be used for reducing the dimensionality
print("Dataframe to be used for further modelling:")
scaled_ds.head()

DIMENSIONALITY REDUCTION

In [ ]:
#Initiating PCA to reduce dimentions aka features to 3
pca = PCA(n_components=3)
pca.fit(scaled_ds)
PCA_ds = pd.DataFrame(pca.transform(scaled_ds), columns=(["col1","col2", "col3"]))
PCA_ds.describe().T

In [ ]:
#A 3D Projection Of Data In The Reduced Dimension
x =PCA_ds["col1"]
y =PCA_ds["col2"]
z =PCA_ds["col3"]
#To plot
fig = plt.figure(figsize=(10,8))
ax = fig.add_subplot(111, projection="3d")
ax.scatter(x,y,z, c="maroon", marker="o" )
ax.set_title("A 3D Projection Of Data In The Reduced Dimension")
plt.show()

CLUSTERING

In [ ]:
# Quick examination of elbow method to find numbers of clusters to make.
print('Elbow Method to determine the number of clusters to be formed:')
Elbow_M = KElbowVisualizer(KMeans(), k=10)
Elbow_M.fit(PCA_ds)
Elbow_M.show()

In [ ]:
#Initiating the Agglomerative Clustering model 
AC = AgglomerativeClustering(n_clusters=4)
# fit model and predict clusters
yhat_AC = AC.fit_predict(PCA_ds)
PCA_ds["Clusters"] = yhat_AC
#Adding the Clusters feature to the orignal dataframe.
data["Clusters"]= yhat_AC

In [ ]:
#Plotting the clusters
fig = plt.figure(figsize=(10,8))
ax = plt.subplot(111, projection='3d', label="bla")
ax.scatter(x, y, z, s=40, c=PCA_ds["Clusters"], marker='o', cmap = cmap )
ax.set_title("The Plot Of The Clusters")
plt.show()

Evaluating models

In [ ]:
#Plotting countplot of clusters
pal = ["#682F2F","#B9C0C9", "#9F8A78","#F3AB60"]
pl = sns.countplot(x=data["Clusters"], palette= pal)
pl.set_title("Distribution Of The Clusters")
plt.show()

In [ ]:
pl = sns.scatterplot(data = data,x=data["Spent"], y=data["Income"],hue=data["Clusters"], palette= pal)
pl.set_title("Cluster's Profile Based On Income And Spending")
plt.legend()
plt.show()

In [ ]:
plt.figure()
pl=sns.swarmplot(x=data["Clusters"], y=data["Spent"], color= "#CBEDDD", alpha=0.5 )
pl=sns.boxenplot(x=data["Clusters"], y=data["Spent"], palette=pal)
plt.show()

In [ ]:
#Creating a feature to get a sum of accepted promotions 
data["Total_Promos"] = data["AcceptedCmp1"]+ data["AcceptedCmp2"]+ data["AcceptedCmp3"]+ data["AcceptedCmp4"]+ data["AcceptedCmp5"]
#Plotting count of total campaign accepted.
plt.figure()
pl = sns.countplot(x=data["Total_Promos"],hue=data["Clusters"], palette= pal)
pl.set_title("Count Of Promotion Accepted")
pl.set_xlabel("Number Of Total Accepted Promotions")
plt.show()

In [ ]:
#Plotting the number of deals purchased
plt.figure()
pl=sns.boxenplot(y=data["NumDealsPurchases"],x=data["Clusters"], palette= pal)
pl.set_title("Number of Deals Purchased")
plt.show()

PROFILING

In [ ]:
Personal = [ "Kidhome","Teenhome","Customer_For", "Age", "Children", "Family_Size", "Is_Parent", "Education","Living_With"]

for i in Personal:
    plt.figure()
    sns.jointplot(x=data[i], y=data["Spent"], hue =data["Clusters"], kind="kde", palette=pal)
    plt.show()